<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body>
	</div>
                <form id="form" action="/result1" method="post"  enctype="multipart/form-data">
                    <input type="file" id="imageupload"  name="image" accept="image/*" class="input-image" style="color: white ;">
                  <input type="submit" class="submitbtn" style="color: white;">
                </form>
                  {{pred}}
    </div>

</body>
</html>